h1{
    font-size:90px;
    margin-top:20px;
    margin-bottom:50px;
    margin-right:250px;
}

form{
    width:40%;
    text-align:center;
    margin:auto;
    margin-top:250px;
    height:900px;
    background-color: white;
    border-radius:10px;
    border:1px outset black;
    box-shadow: -15px -15px 40px black;
    
}
.well-lg{
    width:80%;
    margin:auto;
}
.form-group{
    display:inline;
}
.billImage{
    width:200px;
    height:60px;
    padding-top:20px;
    margin-left:200px;
    
}
.form-control{
    width:60%;
    height:40px;
    font-size:15px;
    margin-bottom:40px;
    background-color:rgb(180, 180, 180);
    margin-left:15px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6, 2px 2px 5px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;
    display: inline-block;
    
}

.btn-primary{
    width:180px;
    height:40px;
    font-size:20px;
    background-color: black;
    font:white;
    border-radius:5px;
}
.alert-danger{
    width:70%;
    margin:auto;
    opacity: 50%;
    background-color:rgb(253, 99, 99);
    color:white;
    font-style: bold;
    font-size:14px;
    border-radius: 5px;
    margin-bottom:-2px;
    display: block;
}

.form-control.ng-touched.ng-invalid{
    border:2px solid red;
}
