<form #form="ngForm" (ngSubmit)="sub(form.value)">
    <h1>Register</h1>
    <div class="form-group">
        <input type="text"  
        ngModel name="fname" 
        #firstName="ngModel" 
        class="form-control" 
        placeholder="First name" 
        required>
    </div>
    <div class="form-group">
        <input type="text" 
        ngModel name="lname" 
        #lastName="ngModel" 
        class="form-control" 
        placeholder="Last name" 
        required>
    </div>
    <div class="form-group">
        <input type="email" 
        ngModel name="email" 
        #email="ngModel" 
        class="form-control" 
        placeholder="Email" 
        required>
    </div>
<div class="form-group">
    <input type="text" 
    ngModel name="username" 
    #username="ngModel" 
    class="form-control" 
    placeholder="Username" 
    required
    minlength="5"
    (click)="resetStopGap()">
</div>
<div class="form-group">
    <input type="password" 
    ngModel name="password" 
    #password="ngModel" 
    class="form-control" 
    placeholder="Password" 
    required
    minlength="8">  
</div>
<div class="well well-lg">
<div class="form-group">
    <input type="number" 
    style="width:65%; margin-bottom:0px;"
    ngModel name="ccinfo" 
    #ccinfo="ngModel" 
    class="form-control" 
    placeholder="Credit Card Number" 
    required>  
</div>
    <div class="form-group">
        <input 
        style="width:15%; margin-bottom:0px;"
        type="number" 
        ngModel name="cvv" 
        #cvv="ngModel" 
        class="form-control" 
        placeholder="CVV" 
        required>  
    </div>
    
<img [src]="billingImage" class="billImage"/>
</div>
<div>
    <button class="btn btn-primary" 
    type="submit" 
    [disabled]="!form.valid">
    Submit
    </button>
</div>
<div class="alert alert-danger" *ngIf="username.touched && !username.valid">
    Username is invalid. <div *ngIf="username.errors.minlength">Username must be at least 5 characters.</div>
</div>
<div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is invalid.
    <div *ngIf="password.errors.minlength">Password must be at least 8 characters.</div>
</div>
<div *ngIf="stopGap" class="alert alert-danger">Username is already taken!</div>
</form>
