#sidebar{
    box-shadow: 3px 5px 12px black;
    z-index: 1;
    height:70%;
    background-color:rgba(228, 222, 222,.9);
    position:fixed;
    overflow-x:hidden;
    transition: .5s;
}
#cartbutton{
    width:85px;
    height:40px;
    margin-top:300px;
    
}

#checkout{
    margin-top:10px;
    font-size:14px;
    text-align:center;
}
#gamecart{
    font-size:15px;
    margin-bottom:10px;
    list-style: none;
    padding-right:50px;
    
}
#gamecartfull{
    margin-right:200px;
}
.cartbutton:hover{
    box-shadow: 2px 2px 20px green;
}
.glyphicon-shopping-cart{
    font-size:15px;
}
.sidebartitle{
    text-align:center;
    font-size:25px;
    padding-top:10px;
    margin-bottom:30px;
}
.sidebarinfo{
    text-align: center;
    padding-top:100px;
    font-size:15px;
    font-style: italic;
}
.btn-success{
    font-size:12px;
    margin-left:10px;
}